@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    color: #fff;
}
#landing-noscroll{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

#landing-img{
      transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  display: block;
  max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        transform: scale(0.7);
}

#landing-img:hover{
    -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.0));
}