@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.moni-gradient{
  @apply text-transparent bg-gradient-to-r from-monitrr-100 to-monitrr-200 bg-clip-text;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-monitrr-100 to-monitrr-200 rounded-full;
}